<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cliente.nome }}</title>
</head>
<body>
    
    <h1>{{ cliente.nome }}</h1>

    <table border="1">
        <tr>
            <td> Nome:</td>
            <td>{{ cliente.nome }}</td>
        </tr>
        <tr>
            <td>Data de Nascimento:</td>                      
            <td>{{ cliente.data_nascimento }}</td>
        </tr>
        <tr>
            <td>Endereço:</td>
            <td>{{ cliente.endereco}}</td>
        </tr>

    </table>

</body>
</html>